@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    height: 65px;
    background: #000;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    color: white;
    margin: 23px auto;
    padding: 34px;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom{
    position: sticky;
    min-height:30px;
    background: #000;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin: 20px;
    cursor: pointer;
}

#myprogressBar{
    width: 70vw;
    margin-top: 20px;
    cursor: pointer;
}

.songitem{
    height: 50px;
    display: flex;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}
.songitem img{
    width: 43px;
    padding: 10px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songtimecontainer{
    margin-top: 70px;
}

.songinfo{
    position: absolute;
    left: 15vw;
    font-family: 'Varela Round', sans-serif;
    top: 55px;
}

.songinfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.songName{
    transition: 5s ease-in-out;
}